/*
	scss for navigation menu that is on the top

*/

.menu {
	text-align: center;
	li {
		&:hover {
			background-color: black;
		}
	}
	ul {
	}
}

.nav-container {
	float: none;
	display: inline-block;
}


