/*
	scss for navigation menu that is on the top

*/

.menu {
	/*text-align: center;*/
	li {
		&:hover {
			background-color: black;
		}
	}
	ul {
	}
}

@media screen and (min-width: $screen-size-medium) {
	.menu {
		text-align: center;
	}
	.nav-container {
		float: none;
		display: inline-block;
	}
}

.nav-container {
	float: none;
	/*display: inline-block;*/
	text-align: center;
}
