/*
	Variables for style.scss
*/



/* * * * * * * * * * * * *
				COLORS
* * * * * * * * * * * *  */

$content-color: black;
// $content-color: #ffb296;
// $container-background-color: #ffb296; /* Coral */

/* * * * * * * * * * * * *
				Screen Size
						and
				Breakpoints
* * * * * * * * * * * *  */

$screen-size-medium: 770px;

$screen-size-break-container: 850px;
$screen-size-break-container-large: 1000px;
$screen-size-break-container-extra-large: 1200px;

/* * * * * * * * * * * * *
			Image size
* * * * * * * * * * * * */

/* Image height and width for the small screen breakpoint */
// $img-small-width: 300px;
// $img-small-height: 300px;
$img-small-width: 50%;
$img-small-height: 50%;

$map-small-width: 300px;
$map-small-height: 300px;

/* Image height and width for the medium screen breakpoint */
// $img-medium-width: 500px;
// $img-medium-height: 500px;
$img-medium-width: 50%;
$img-medium-height: 50%;

$map-medium-width: 500px;
$map-medium-height: 500px;
