/*
	Variables for style.scss
*/


$screen-size-medium: 720px;

$screen-size-break-container: 850px;
$screen-size-break-container-large: 1000px;


$content-coler: white;

/* Image height and width for the small screen breakpoint */
$img-small-width: 300px;
$img-small-height: 300px;

/* Image height and width for the medium screen breakpoint */
$img-medium-width: 500px;
$img-medium-height: 500px;
