
@import "_variables";
@import "_navigationmenu";
@import "_bootstrap";
@import "_grid";
@import "_container";


body {
	background-color: #fff;
	background: url("../img/cityhand.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
 		 -moz-background-size: cover;
       -o-background-size: cover;
 		 	    background-size: cover;
}

/*
.nav li:hover {
	background-color: silver; /* hover color of navbar
} */

.footer {
	padding-top: 5px;
	height: 100px;
	font-size: 10px;
	.dev-tag {
		text-align: center;
		color: white;
		a {
			color: white;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.title {
	font-family: 'Dancing Script', cursive;
}

.big-text {
	font-size: 60px;
}

.bold {
	font-weight: bold;
}


.content {
	text-align: center;
	font-size: 1.2em;
	color: $content-color;
	margin-top: 25px;
}

.welcome-img {
	height: $img-small-width;
	width: $img-small-height;

	@media screen and (min-width: $screen-size-break-container) {
		height: $img-medium-width;
		width: $img-medium-height;
	}
}
.we-img {
	height: $img-small-width;
	width: $img-small-height;

	@media screen and (min-width: $screen-size-break-container) {
		height: $img-medium-width;
		width: $img-medium-height;
	}
}
.location-map {
	height: $img-small-width;
	width: $img-small-height;

	@media screen and (min-width: $screen-size-break-container) {
		height: $img-medium-width;
		width: $img-medium-height;
	}
}

.welcome-text {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	width: 85%;
	padding-bottom: 25px;
}

.menu {
	padding-bottom: 80px;
	position: relative;
}
